<page-header-wrapper [title]="'查询商品'">
  <nz-card [nzBordered]="false" class>
    <button nz-button routerLink="/goods/edit/0" [nzType]="'primary'">
      <i nz-icon type="plus"></i>
      <span>新建</span>
    </button>
    <button nz-button *ngIf="numberOfChecked > 0" (click)="remove(mapOfCheckedId)" [nzType]="'primary'">
      <span>删除</span>
    </button>
    <div class="my-md">
      <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
        <ng-template #message>
          已选择
          <strong class="text-primary">{{numberOfChecked}}</strong>
          项
          <!--<a *ngIf="totalCallNo > 0" (click)="st.clearCheck()" class="ml-lg">清空</a>-->
        </ng-template>
      </nz-alert>
    </div>

    <nz-table *ngIf="data" #nzTable [nzData]="data.items" [nzTotal]="data.totalCount" [nzFrontPagination]="false" (nzPageIndexChange)="pageChange($event)">
      <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th>
          图片
        </th>
        <th nzCustomFilter>
          名称
          <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
                       #dropdown>
            <i nz-icon nzType="search" class="ant-table-filter-icon"
               [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
            <div class="search-box">
              <input type="text" nz-input placeholder="搜索商品名称" [(ngModel)]="q.name">
              <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                搜索
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </nz-dropdown>
        </th>
        <th>
          SKU
        </th>
        <th>
          价格
        </th>
        <th>
          成本
        </th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
          <td><img src="{{data.pictureUrl}}" height="32" width="32" /></td>
          <td>{{data.name}}</td>
          <td>{{data.sku}}</td>
          <td>{{data.price}}</td>
          <td>{{data.goodCost}}</td>
          <td>
            <a [routerLink]="'/goods/edit/' + data.id">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzTitle="确认要删除吗?" (nzOnConfirm)="remove([data.id])" (nzOnCancel)="cancel()">删除</a>
          </td>
        </tr>
        <!--<tr [nzExpand]="mapOfExpandData[data.id]">
            <td></td>
            <td></td>
            <td colspan="7">
                <div *ngFor="let item of data.items">
                    {{item.productName}}
                </div>
            </td>
        </tr>-->
      </ng-template>
      </tbody>
    </nz-table>

  </nz-card>
  <ng-template #modalContent>
    <nz-form-item>
      <nz-form-label nzFor="no">描述</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no">
      </nz-form-control>
    </nz-form-item>
  </ng-template>
</page-header-wrapper>
