<page-header-wrapper [title]="'查询店铺'">
  <nz-card [nzBordered]="false" class>
    <button nz-button routerLink="/tenant/edit/0" [nzType]="'primary'" style="margin-bottom: 16px">
      <i nz-icon type="plus"></i>
      <span>新建</span>
    </button>
    <st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)"></st>
  </nz-card>
  <ng-template #modalContent>
    <nz-form-item>
      <nz-form-label nzFor="no">描述</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no">
      </nz-form-control>
    </nz-form-item>
  </ng-template>
</page-header-wrapper>
