<div class="ant-col-lg-16 pro-passport__bg" style="background-image: url('https://media.udosass.com/account/bg2.jpg?imageView2/0/format/webp/q/75|imageslim')">
    <div class="pro-passport__bg-overlay"></div>
    <div class="text">
        <h1>有度信息流电商云</h1>
        <p>
            实现电商企业全流程数据化，打造基于大数据的精细化运营体系，通过对目标用户群体进行精细画像，帮助企业分析某时间段用户的特征和习惯，实现精准广告投放
        </p>
    </div>
</div>
<div class="ant-col-lg-8 pro-passport__form">
    <div class="container">
        <!--<pro-langs class="langs" btnClass></pro-langs>-->
        <div class="wrap">
            <div class="top">
                <div class="head">
                    <img class="logo" src="https://media.udosass.com/logo-color.png?imageView2/0/format/webp/q/75|imageslim" />
                    <span class="title">有度云</span>
                </div>
                <div class="desc"></div>
            </div>
            <router-outlet></router-outlet>
            <global-footer [links]="links">
                Copyright
                <i class="anticon anticon-copyright"></i>
                {{ year }}
                <a href="http://www.beian.miit.gov.cn/" target="_blank">{{ 'layout.footer.copyright.udo' | translate }}</a>
                <!-- <a href="http://www.beian.miit.gov.cn/" target="_blank">{{ 'layout.footer.copyright.icp' | translate }}</a> -->
                <!-- <a href="http://www.beian.miit.gov.cn/" target="_blank">{{ 'layout.footer.copyright.sdo' | translate }}</a>
                运营 -->
            </global-footer>
        </div>
    </div>
</div>