<div class="ant-col-lg-16 pro-passport__bg" style="background-image: url('http://media.vapps.com.cn/account/bg2.jpg')">
    <div class="pro-passport__bg-overlay"></div>
    <div class="text">
        <h1>有度信息流电商云</h1>
        <p>
            实现电商企业全流程数据化，打造基于大数据的精细化运营体系，通过对目标用户群体进行精细画像，帮助企业分析某时间段用户的特征和习惯，实现精准广告投放
        </p>
    </div>
</div>
<div class="ant-col-lg-8 pro-passport__form">
    <div class="container">
        <!--<pro-langs class="langs" btnClass></pro-langs>-->
        <div class="wrap">
            <div class="top">
                <div class="head">
                    <img class="logo" src="./assets/logo-color.png">
                    <span class="title">有度信息流电商云</span>
                </div>
                <div class="desc"></div>
            </div>
            <router-outlet></router-outlet>
            <global-footer [links]="links">
                Copyright
                <i class="anticon anticon-copyright"></i>
                {{ year }}
                <a href="http://www.beian.miit.gov.cn/" target="_blank">{{ 'layout.footer.copyright.udo' | translate }}</a>
                驱动
                <a href="http://www.beian.miit.gov.cn/" target="_blank">{{ 'layout.footer.copyright.sdo' | translate }}</a>
                运营
            </global-footer>

            <!-- <global-footer>
                <global-footer-item href="https://e.ng-alain.com/theme/pro" blankTarget>
                  {{ 'layout.footer.copyright.udo' | translate }}
                </global-footer-item>
                <global-footer-item href="https://ng-alain.github.io/ng-alain/" blankTarget>
                  {{ 'layout.footer.copyright.sdo' | translate }}
                </global-footer-item>
                <i nz-icon nzType="copyright" class="mx-sm"></i>
                {{ year }}
                <a href="//github.com/cipchk" target="_blank" class="mx-sm">广州有度科技有限公司</a>
                出品
              </global-footer> -->

        </div>
    </div>
</div>