<div class="container">
  <!--<pro-langs class="langs" btnClass></pro-langs>-->
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png">
        <span class="title">有度电商管理后台</span>
      </div>
      <div class="desc"></div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i>
      2018
      <a href="http://cy.yfq.cn" target="_blank">广州有度科技有限公司</a>
      出品
    </global-footer>
  </div>
</div>