<page-header-wrapper [title]="'广告分析'" [phContent]="phNgContent">
    <ng-template #phNgContent>
        <nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding.px': 0 }">
            <form nz-form (ngSubmit)="getData()" [nzLayout]="'inline'" class="search__form">
                <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                    <div nz-col nzMd="8" nzSm="24">
                        <nz-form-item>
                            <nz-form-label nzFor="no">渠道</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="q.source" name="source" id="source" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
                                    <nz-option nzCustomContent *ngFor="let source of advertSource" [nzLabel]="source.text" [nzValue]="source.value">
                                        <img width="18" alt="item.name" src="{{getSourcePicture(source.value)}}" />
                                        <span class="pl-sm">{{source.text}}</span>
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="8" nzSm="24">
                        <nz-form-item>
                            <nz-form-label nzFor="no">账户</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="q.accountId" name="accountId" id="accountId" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
                                    <nz-option nzCustomContent *ngFor="let account of advertAccounts" [nzLabel]="account.text" [nzValue]="account.value">
                                        <span class="pl-sm">{{account.text}}</span>
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="8" nzSm="24">
                        <nz-form-item>
                            <nz-form-label nzFor="no">统计时间</nz-form-label>
                            <nz-form-control>
                                <range-picker name="dateOn" id="dateOn" [(ngModel)]="q.dateOn.form" [(ngModelEnd)]="q.dateOn.to" [nzFormat]="'yyyy/MM/dd'" nzShowTime="false" [shortcut]="true"></range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
                        <nz-form-item>
                            <nz-form-label nzFor="no">商品</nz-form-label>
                            <nz-form-control>
                                <nz-select *ngIf="productSelectData" nzShowSearch nzAllowClear nzPlaceHolder="搜索/选择商品" formControlName="productIds" nzMode="multiple">
                                    <nz-option *ngFor="let t of productSelectData" [nzLabel]="t.text" [nzValue]="t.value"> </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <nz-row nzGutter="16" style="text-align: center">
                    <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
                    <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
                    <a (click)="expandForm = !expandForm">
                        {{ expandForm ? '收起' : '展开' }}
                        <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
                    </a>
                </nz-row>
            </form>

        </nz-card>
    </ng-template>
    <nz-card [nzBordered]="false" class="list-content">
        <st #st *ngIf="data" [columns]="columns" [data]="data.items" [pi]="page.index" [ps]="page.pageSize" [total]="data.totalCount" [loading]="loading" (change)="stChange($event)" [expand]="expand" [page]="stPage" expandRowByClick expandAccordion>
            <ng-template st-row="convertNum-tag" let-item let-index="index">
                <nz-tag [nzColor]="'#87d068'">{{item.convertNum | number: '.0'}}</nz-tag>
            </ng-template>
            <ng-template st-row="transformCost-tag" let-item let-index="index">
                <nz-tag [nzColor]="'#2db7f5'">{{item.transformCost | _currency}}</nz-tag>
            </ng-template>
            <ng-template st-row="totalCost-tag" let-item let-index="index">
                <nz-tag [nzColor]="'#108ee9'">{{item.totalCost | _currency}}</nz-tag>
            </ng-template>
            <ng-template #expand let-item let-index="index" let-column="column">
                <st #st *ngIf="item.items" [columns]="itemColumns" [data]="item.items" [page]="{ show: false }">
                </st>
            </ng-template>
        </st>
        <nz-empty *ngIf="!data"></nz-empty>
    </nz-card>
</page-header-wrapper>