<page-header-wrapper [title]="'订单列表'" [phContent]="phNgContent">
    <ng-template #phNgContent>
        <nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding.px': 0 }">
            <form nz-form [formGroup]="searchForm" [nzLayout]="'inline'" class="search__form">
                <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                    <div nz-col nzMd="6" nzSm="24">
                        <nz-form-item>
                            <nz-form-label nzFor="name">商品</nz-form-label>
                            <nz-form-control>

                                <input nz-input formControlName="productIds" placeholder="请选择商品">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8">
                        <nz-form-item>
                            <nz-form-label>订单号</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="orderNumber" placeholder="请输入订单号">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8">
                        <nz-form-item>
                            <nz-form-label>物流单号</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="logisticsNumber" placeholder="请输入物流单号">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8">
                        <nz-form-item>
                            <nz-form-label nzFor="name">收件电话</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="phoneNumber" placeholder="收件人电话">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8" *ngIf="expandForm">
                        <nz-form-item>
                            <nz-form-label nzFor="name">下单时间</nz-form-label>
                            <nz-form-control>
                                <nz-range-picker ngModel (ngModelChange)="createOn($event)" [ngModelOptions]="{standalone: true}" [nzFormat]="'yyyy/MM/dd'"></nz-range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8" *ngIf="expandForm">
                        <nz-form-item>
                            <nz-form-label nzFor="name">收件人</nz-form-label>
                            <nz-form-control>
                                <input nz-input formControlName="shippingName" placeholder="收件人姓名">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8" *ngIf="expandForm">
                        <nz-form-item>
                            <nz-form-label nzFor="name">收件地区</nz-form-label>
                            <nz-form-control>
                                <nz-cascader nzPlaceHolder="请选择" [ngModelOptions]="{standalone: true}" [(ngModel)]="address" nzChangeOnSelect [nzLabelProperty]="'text'" [nzValueProperty]="'value'" [nzLoadData]="loadAddressData" (ngModelChange)="onChanges($event)">
                                </nz-cascader>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <nz-row nzGutter="16" style="text-align: center">
                    <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
                    <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
                    <a (click)="expandForm = !expandForm">
                        {{ expandForm ? '收起' : '展开' }}
                        <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
                    </a>
                </nz-row>
            </form>
        </nz-card>
    </ng-template>
    <nz-card [nzBordered]="false" class="list-content">
        <nz-tabset [nzSelectedIndex]="tabsStatus" [nzTabBarExtraContent]="optionTemplate">
            <nz-tab *ngFor="let i of tabs" [nzTitle]="i.tab" (nzClick)="to(i)"></nz-tab>
        </nz-tabset>
        <ng-template #optionTemplate>
            <button nz-button routerLink="/order/edit/0" [nzType]="'primary'">
                <i nz-icon type="plus"></i>
                <span>创建新订单</span>
            </button>
            <button nz-button *ngIf="numberOfChecked > 0" (click)="remove()" [nzType]="'primary'">
                <i nz-icon type="delete"></i>
                <span>删除已选订单</span>
            </button>
        </ng-template>
        <div class="list-header">
            <!-- <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
                <ng-template #message>
                    已选择
                    <strong class="text-primary">{{numberOfChecked}}</strong>
                    项
                    <a *ngIf="numberOfChecked > 0" (click)="checkAll(false)" class="ml-lg">清空</a>
                </ng-template>
            </nz-alert> -->
            <nz-card>
                <div nz-row nzSpan=24>
                    <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="3" nzXl="2" nzXXl="2">
                        <label nz-checkbox [(ngModel)]="isAllChecked" (ngModelChange)="checkAll($event)" [nzIndeterminate]="isIndeterminate">
                            全选
                        </label>
                    </div>
                    <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="3" nzXl="4" nzXXl="4">
                        商品
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="2" nzXl="2" nzXXl="2">
                        订单金额
                    </div>
                    <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="4" nzXl="4" nzXXl="4">
                        收件地址
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="2" nzXXl="2">
                        订单状态
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="2" nzXXl="2">
                        物流状态
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="3" nzXXl="3">
                        买家留言
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="3" nzXXl="3">
                        商家备注
                    </div>
                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="4" nzXl="2" nzXXl="2" class="text-right">
                        操作
                    </div>
                </div>

            </nz-card>
        </div>
        <nz-list *ngIf="data" [nzDataSource]="data.items" [nzItemLayout]="'vertical'" [nzRenderItem]="item" [nzPagination]="pagination">
            <ng-template #item let-item>
                <nz-list-item [nzContent]="nzContent">
                    <ng-template #nzContent>
                        <nz-card nzHoverable [nzLoading]="loading" (click)="view(item)">
                            <div nz-row class="order-header" nzSpan=24>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6">
                                    <label nz-checkbox [(ngModel)]="checkedId[item.id]" (ngModelChange)="choose(item.id)">
                                    </label>
                                    订单号:
                                    <span class="pl-sm">{{ item.orderNumber }}</span>
                                </div>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6">
                                    来源:
                                    <img class="pl-sm source-img" height="16" alt="item.orderSourceString" src="{{getSourcePicture(item.orderSource)}}" />
                                    <span class="pl-sm">{{item.orderSourceString}}</span>
                                </div>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6">
                                    店铺:
                                    <span class="pl-sm">{{ item.store }}</span>
                                </div>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6" class="text-right">
                                    下单时间:
                                    <span class="pl-sm"> {{ item.createOn | _date : 'YYYY-MM-DD HH:mm'}}</span>
                                </div>
                            </div>
                            <div nz-row class="order-content">
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6">
                                    <ng-container *ngFor="let g of item.items; let first=first">
                                        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6" nzXXl="6">
                                            <a [ngClass]="{'pl-sm': !first}" nz-tooltip="{{g.productName}}，数量：{{g.quantity}}，价格：{{g.price | _currency}}" routerLink="/product/edit/{{g.id}}">
                                                <img src="{{g.pictureUrl}}" width="100%" />
                                            </a>
                                        </div>
                                        <div class="pl-sm" nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="18" nzXl="18" nzXXl="18" routerLink="/product/edit/{{g.id}}">
                                            {{g.productName}}
                                            <p>数量：{{g.quantity}}</p>
                                            <p>单价：{{g.price | _currency}}</p>
                                        </div>
                                    </ng-container>
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="2" nzXl="2" nzXXl="2">
                                    {{item.totalAmount | _currency}}
                                </div>
                                <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="4" nzXl="4" nzXXl="4">
                                    <span>{{item.shippingName}}</span>
                                    <span class="pl-md">{{item.shippingPhoneNumber}}</span>
                                    <!-- <p>{{item.shippingAddress}}</p> -->
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="2" nzXl="2" nzXXl="2">
                                    <nz-tag [nzColor]="getStatusColor(item.orderStatus)">{{item.orderStatusString}}</nz-tag>
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="2" nzXl="2" nzXXl="2">
                                    <nz-tag [nzColor]="getShippingColor(item.shippingStatus)">{{item.shippingStatusString}}</nz-tag>
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="3" nzXXl="3">
                                    {{item.customerComment}}
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="3" nzXXl="3">
                                    {{item.adminComment}}
                                </div>
                                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="4" nzXl="2" nzXXl="2" class="text-right">
                                    <a class="pl-xs " *ngIf="item.orderStatus === 10 " (click)="sendShip(data)">
                                        <i nz-icon nzType="check"></i>
                                        确认
                                        <nz-divider nzType="vertical"></nz-divider>
                                    </a>
                                    <a class="pl-xs " *ngIf="item.shippingStatus === 200 || item.shippingStatus === 250" (click)="sendShip(data)">
                                        <i nz-icon nzType="inbox"></i>
                                        发货
                                        <nz-divider nzType="vertical"></nz-divider>
                                    </a>
                                    <a class="pl-xs " [routerLink]="'/order/edit/' + item.id">
                                        <i nz-icon nzType="edit"></i>
                                        编辑
                                        <nz-divider nzType="vertical"></nz-divider>
                                    </a>
                                    <a class="pl-xs " (click)="sendShip(data)">
                                        <i nz-icon nzType="delete"></i>
                                        删除
                                    </a>
                                </div>
                            </div>
                        </nz-card>
                    </ng-template>
                </nz-list-item>
            </ng-template>
            <ng-template #pagination>
                <nz-pagination nzShowSizeChanger nzShowQuickJumper [nzPageIndex]="page.index" [(nzPageSize)]="page.pageSize" [nzPageSizeOptions]="page.pageSizeOptions" [nzTotal]="data.totalCount" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
            </ng-template>
        </nz-list>
    </nz-card>
    <ng-template #modalContent>
        <nz-form-item>
            <nz-form-label nzFor="no">描述</nz-form-label>
            <nz-form-control>
                <!-- <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no"> -->
            </nz-form-control>
        </nz-form-item>
    </ng-template>
</page-header-wrapper>