<page-header-wrapper [title]="'订单列表'" [phContent]="phNgContent">
    <ng-template #phNgContent>
        <nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding.px': 0 }">
            <form nz-form [nzLayout]="'inline'" class="search__form">
                <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                    <div nz-col nzMd="6" nzSm="24">
                        <nz-form-item>
                            <nz-form-label nzFor="name">商品</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="q.productIds" name="productIds" *ngIf="productSelectData" nzShowSearch nzAllowClear nzPlaceHolder="搜索/选择商品" nzMode="multiple">
                                    <nz-option *ngFor="let t of productSelectData" [nzLabel]="t.text" [nzValue]="t.value"> </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8">
                        <nz-form-item>
                            <nz-form-label>订单号</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="q.orderNumber" name="orderNumber" placeholder="请输入订单号">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8">
                        <nz-form-item>
                            <nz-form-label>物流单号</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="q.logisticsNumber" name="logisticsNumber" placeholder="请输入物流单号">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8">
                        <nz-form-item>
                            <nz-form-label nzFor="name">收件电话</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="q.phoneNumber" name="phoneNumber" placeholder="收件人电话">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8" *ngIf="expandForm">
                        <nz-form-item>
                            <nz-form-label nzFor="name">下单时间</nz-form-label>
                            <nz-form-control>
                                <range-picker [(ngModel)]="q.createOn_FormDate" [(ngModelEnd)]="q.createOn_ToDate" name="createOn" [shortcut]="true" [nzFormat]="'yyyy/MM/dd'"></range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8" *ngIf="expandForm">
                        <nz-form-item>
                            <nz-form-label nzFor="name">收件人</nz-form-label>
                            <nz-form-control>
                                <input nz-input [(ngModel)]="q.shippingName" name="shippingName" nzPlaceHolder="收件人姓名">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzMd="6" nzSm="8" *ngIf="expandForm">
                        <nz-form-item>
                            <nz-form-label nzFor="name">收件地区</nz-form-label>
                            <nz-form-control>
                                <nz-cascader nzPlaceHolder="请选择" [(ngModel)]="address" nzChangeOnSelect [nzLabelProperty]="'text'" [nzValueProperty]="'value'" [nzLoadData]="loadAddressData" (ngModelChange)="onChanges($event)">
                                </nz-cascader>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <nz-row nzGutter="16" style="text-align: center">
                    <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" (click)="getData()">查询</button>
                    <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
                    <a (click)="expandForm = !expandForm">
                        {{ expandForm ? '收起' : '展开' }}
                        <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
                    </a>
                </nz-row>
            </form>
        </nz-card>
    </ng-template>
    <nz-card [nzBordered]="false" class="list-content">
        <nz-tabset [nzSelectedIndex]="tabsIndex" [nzTabBarExtraContent]="optionTemplate" (nzSelectedIndexChange)="selectedIndexChange($event)">
            <nz-tab *ngFor="let tab of tabs;let i = index" [nzTitle]="titleTemplate" (nzClick)="tabSelect(tab.key)">
                <ng-template #titleTemplate>
                    {{ tab.name }}
                    <nz-tag *ngIf="i === tabsIndex && data &&!loading" class="ml-sm" [nzColor]="'#f5222d'">{{data.totalCount}}</nz-tag>
                </ng-template>
            </nz-tab>
        </nz-tabset>
        <ng-template #optionTemplate>
            <button nz-button routerLink="/order/edit/0" [nzType]="'primary'">
                <i nz-icon type="plus"></i>
                <span>创建订单</span>
            </button>
            <button nz-button *ngIf="tabsIndex === 1" (click)="confirmOrder(true)" [nzType]="'primary'">
                <i nz-icon type="check"></i>
                <span>一键确认</span>
            </button>
            <button nz-button *ngIf="tabsIndex === 1 && numberOfChecked > 0" (click)="confirmOrder(false)" [nzType]="'primary'">
                <i nz-icon type="check-square"></i>
                <span>确认选中</span>
            </button>
            <button nz-button *ngIf="numberOfChecked > 0" (click)="remove()" [nzType]="'primary'">
                <i nz-icon type="delete"></i>
                <span>删除选中</span>
            </button>
        </ng-template>
        <div class="list-header">
            <nz-card>
                <div nz-row nzSpan=24>
                    <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="3" nzXl="2" nzXXl="2">
                        <label nz-checkbox [(ngModel)]="isAllChecked" (ngModelChange)="checkAll($event)" [nzIndeterminate]="isIndeterminate">
                            全选
                        </label>
                    </div>
                    <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="3" nzXl="4" nzXXl="4">
                        商品
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="2" nzXl="2" nzXXl="2">
                        订单金额
                    </div>
                    <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="4" nzXl="4" nzXXl="4">
                        联系方式
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="3" nzXl="3" nzXXl="3">
                        状态
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="3" nzXl="3" nzXXl="3">
                        买家留言
                    </div>
                    <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="5" nzXl="5" nzXXl="5">
                        商家备注
                    </div>
                    <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="1" nzXl="1" nzXXl="1" class="text-right">
                        操作
                    </div>
                </div>

            </nz-card>
        </div>
        <nz-list *ngIf="data" [nzDataSource]="data.items" [nzItemLayout]="'vertical'" [nzRenderItem]="item" [nzPagination]="pagination">
            <ng-template #item let-item>
                <nz-list-item [nzContent]="nzContent">
                    <ng-template #nzContent>
                        <nz-card nzHoverable [nzLoading]="loading" (click)="viewOrderInfo(item)">
                            <div nz-row class="order-header" nzSpan=24>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6">
                                    <div nz-col nzSpan="15">
                                        <label nz-checkbox [(ngModel)]="checkedId[item.id]" (ngModelChange)="choose(item.id,$event)">
                                        </label>
                                        订单号:
                                        <span class="pl-sm">{{ item.orderNumber }}</span>
                                    </div>
                                    <div nz-col nzSpan="9">
                                        <nz-tag *ngFor="let tag of item.tags" class="mb-xs" [nzColor]="tag.color">{{tag.value}}</nz-tag>
                                    </div>
                                </div>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6">
                                    类型:
                                    <!-- <nz-tag *ngIf="item.orderType === 1" [nzColor]="'#52c41a'">
                                        <i class="pl-xs" nz-icon nzType="pay-circle"></i>
                                        <span class="pl-xs">{{item.orderTypeString}}</span>
                                    </nz-tag>
                                    <nz-tag *ngIf="item.orderType === 2" [nzColor]="'#1890ff'">
                                        <i class="pl-xs" nz-icon nzType="money-collect"></i>
                                        <span class="pl-xs">{{item.orderTypeString}}</span>
                                    </nz-tag> -->
                                    <a *ngIf="item.orderType === 1" style="color:#52c41a">
                                        <i class="pl-xs" nz-icon nzType="pay-circle"></i>
                                        <span class="pl-xs">{{item.orderTypeString}}</span>
                                    </a>
                                    <a *ngIf="item.orderType === 2" style="color:#1890ff">
                                        <i class="pl-xs" nz-icon nzType="money-collect"></i>
                                        <span class="pl-xs">{{item.orderTypeString}}</span>
                                    </a>
                                </div>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="3" nzXl="3" nzXXl="3">
                                    来源:
                                    <img class="pl-sm source-img" height="16" alt="item.orderSourceString" src="{{getSourcePicture(item.orderSource)}}" />
                                    <span class="pl-sm">{{item.orderSourceString}}</span>
                                </div>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="5" nzXl="5" nzXXl="5">
                                    店铺:
                                    <span class="pl-sm">{{ item.store }}</span>
                                </div>
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="4" nzXl="4" nzXXl="4" class="text-right">
                                    下单时间:
                                    <span class="pl-sm"> {{ item.createOn | _date : 'YYYY-MM-DD HH:mm'}}</span>
                                </div>

                                <!-- <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="1" nzXl="1" nzXXl="1" class="text-right">
                                    <nz-dropdown class="icon-group ">
                                        <i nz-dropdown nz-icon nzType="ellipsis"></i>
                                        <ul nz-menu>
                                            <li nz-menu-item> <a *ngIf="item.orderStatus === 10 " (click)="confirm(item);$event.stopPropagation()">
                                                    <i nz-icon nzType="check"></i>
                                                    确认
                                                </a></li>
                                            <li nz-menu-item> <a *ngIf="item.shippingStatus === 200 || item.shippingStatus === 250" (click)="sendShip(data);$event.stopPropagation()">
                                                    <i nz-icon nzType="inbox"></i>
                                                    发货
                                                </a></li>
                                            <li nz-menu-item> <a [routerLink]="'/order/edit/' + item.id">
                                                    <i nz-icon nzType="edit"></i>
                                                    编辑
                                                </a></li>
                                            <li nz-menu-item><a (click)="sendShip(data);$event.stopPropagation()">
                                                    <i nz-icon nzType="delete"></i>
                                                    删除
                                                </a></li>
                                        </ul>
                                    </nz-dropdown>
                                </div> -->
                            </div>
                            <div nz-row class="order-content">
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="6" nzXl="6" nzXXl="6">
                                    <ng-container *ngFor="let g of item.items;let first=first">
                                        <nz-divider *ngIf="!first" nzDashed="true"></nz-divider>
                                        <div class="overflow-hidden">
                                            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="6" nzXl="6" nzXXl="6">
                                                <a nz-tooltip="{{g.productName}}，数量：{{g.quantity}}，价格：{{g.price | _currency}}">
                                                    <img src="{{getPictureCompressUrl(g.pictureUrl)}}" width="100%" />
                                                </a>
                                            </div>
                                            <div nz-col class="pl-sm" nzXs="24" nzSm="24" nzMd="24" nzLg="18" nzXl="18" nzXXl="18">
                                                {{g.productName}}
                                                <p [innerHTML]="toHTML(g.attributeDesciption)"></p>
                                                <p>数量：{{g.quantity}}</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="2" nzXl="2" nzXXl="2">
                                    {{item.totalAmount | _currency}}
                                </div>
                                <div nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="4" nzXl="4" nzXXl="4">
                                    <span>{{item.shippingName}}</span>
                                    <span class="pl-md">{{item.shippingPhoneNumber}}</span>
                                    <!-- <p>{{item.shippingAddress}}</p> -->
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="3" nzXl="3" nzXXl="3">
                                    <p class="status-line">订单状态
                                        <nz-tag class="ml-sm" [nzColor]="item.orderStatusColor">{{item.orderStatusString}}</nz-tag>
                                    </p>

                                    <p class="status-line">付款状态
                                        <nz-tag class="ml-sm" [nzColor]="item.paymentStatusColor">{{item.paymentStatusString}}</nz-tag>
                                    </p>
                                    <p (click)="viewShipTrackingInfo(item);$event.stopPropagation()" class="status-line">物流状态
                                        <nz-tag class="ml-sm" [nzColor]="item.shippingStatusColor">
                                            {{item.shippingStatusString}}
                                            <i nz-icon nzType="eye" *ngIf="item.shippingStatus !== 200"></i>
                                        </nz-tag>
                                    </p>
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="3" nzXl="3" nzXXl="3">
                                    {{item.customerComment}}
                                </div>
                                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4" nzXXl="4" (click)="editAdminCom(modalContent,item);$event.stopPropagation()">
                                    {{item.adminComment}}
                                    <i class="ml-xs" nz-icon nzType="edit"></i>
                                </div>
                                <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="2" nzXl="2" nzXXl="2" class="text-right">
                                    <nz-dropdown class="icon-group ">
                                        <button nz-button nz-dropdown>操作<i nz-icon nzType="down"></i></button>
                                        <ul nz-menu>
                                            <li nz-menu-item *ngIf="item.orderStatus === 10">
                                                <a (click)="confirm(item);$event.stopPropagation()">
                                                    <i nz-icon nzType="check"></i>
                                                    确认
                                                </a>
                                            </li>

                                            <li nz-menu-item *ngIf="item.shippingStatus === 200 || item.shippingStatus === 250">
                                                <a (click)="setOverRange(item.id);$event.stopPropagation()">
                                                    <i nz-icon nzType="alert"></i>
                                                    标为超区
                                                </a>
                                            </li>

                                            <li nz-menu-item *ngIf="item.shippingStatus === 200 || item.shippingStatus === 250">
                                                <a (click)="sendShip(item);$event.stopPropagation()">
                                                    <i nz-icon nzType="inbox"></i>
                                                    发货
                                                </a>
                                            </li>
                                            <li nz-menu-item>
                                                <a [routerLink]="'/order/edit/' + item.id">
                                                    <i nz-icon nzType="edit"></i>
                                                    编辑
                                                </a>
                                            </li>
                                            <li nz-menu-item>
                                                <a (click)="$event.stopPropagation()">
                                                    <i nz-icon nzType="delete"></i>
                                                    删除
                                                </a>
                                            </li>
                                        </ul>
                                    </nz-dropdown>
                                    <!-- <nz-button-group>
                                        <a class="pl-xs" *ngIf="item.orderStatus === 10 " (click)="confirm(item);$event.stopPropagation()">
                                            <i nz-icon nzType="check"></i>
                                            确认
                                        </a>
                                        <a class="pl-xs" *ngIf="item.shippingStatus === 200 || item.shippingStatus === 250" (click)="sendShip(data);$event.stopPropagation()">
                                            <i nz-icon nzType="inbox"></i>
                                            发货
                                        </a>
                                        <a class="pl-xs" [routerLink]="'/order/edit/' + item.id">
                                            <i nz-icon nzType="edit"></i>
                                            编辑
                                        </a>
                                        <a class="pl-xs" (click)="sendShip(data);$event.stopPropagation()">
                                            <i nz-icon nzType="delete"></i>
                                            删除
                                        </a>
                                    </nz-button-group> -->
                                </div>
                            </div>
                        </nz-card>
                    </ng-template>
                </nz-list-item>
            </ng-template>
            <ng-template #pagination>
                <nz-pagination nzShowSizeChanger nzShowQuickJumper [nzPageIndex]="page.index" [(nzPageSize)]="page.pageSize" [nzPageSizeOptions]="page.pageSizeOptions" [nzTotal]="data.totalCount" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" [nzShowTotal]="rangeTemplate"></nz-pagination>
            </ng-template>
            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} 共 {{ total }} 条数据
            </ng-template>
        </nz-list>
    </nz-card>
    <ng-template #modalContent>
        <nz-form-item>
            <nz-form-control>
                <textarea rows="4" nz-input [(ngModel)]="editItem.adminComment" name="adminComment" placeholder="请输入"></textarea>
            </nz-form-control>
        </nz-form-item>
    </ng-template>
</page-header-wrapper>