<page-grid>
    <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
            <g2-card [title]="'app.analysis.day-sales' | translate" total="{{ today.totalOfOrders | _currency }}" contentHeight="44px" [action]="action1" [footer]="footer1">
                <ng-template #action1>
                    <nz-tooltip [nzTitle]="'app.analysis.introduce' | translate">
                        <i nz-tooltip nz-icon nzType="info-circle"></i>
                    </nz-tooltip>
                </ng-template>
                <trend flag="{{getFlag(orderTotalRate)}}">
                    {{ 'app.analysis.yesteday-sales' | translate }}
                    <span class="pl-sm">{{ yesterday.totalOfOrders | _currency }}</span>
                    <span class="pl-sm">({{ orderTotalRate | percent:'1.1-2' }})</span>
                </trend>
                <ng-template #footer1>
                    <p class="text-truncate mb0">
                        {{ 'app.analysis.month-sales' | translate }}
                        <span class="ml-sm">￥1200,423</span>
                    </p>
                </ng-template>
            </g2-card>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
            <g2-card [title]="'app.analysis.order' | translate" total="{{ today.numberOfOrders | number:'.0' }}" contentHeight="46px" [action]="action2" [footer]="footer2">
                <ng-template #action2>
                    <nz-tooltip [nzTitle]="'app.analysis.introduce' | translate">
                        <i nz-tooltip nz-icon nzType="info-circle"></i>
                    </nz-tooltip>
                </ng-template>
                <g2-mini-area *ngIf="commonStatistics" line borderColor="#1890FF" height="46" [data]="getOrderNumTrend()" yTooltipSuffix="单"></g2-mini-area>
                <ng-template #footer2>
                    <trend flag="{{getFlag(orderNumberlRate)}}" class="text-truncate mb0">
                        {{ 'app.analysis.yesteday-orders' | translate }}
                        <span class="pl-sm">{{ yesterday.numberOfOrders | number:'.0' }}</span>
                        <span class="pl-sm">({{ orderNumberlRate | percent:'1.1-2' }})</span>
                    </trend>
                </ng-template>
            </g2-card>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
            <g2-card class="progress-ship" [title]="'app.analysis.shipment' | translate" total="{{ today.numberOfShipped }}" contentHeight="46px" [action]="action3" [footer]="footer3">
                <ng-template #action3>
                    <nz-tooltip [nzTitle]="'app.analysis.introduce' | translate">
                        <i nz-tooltip nz-icon nzType="info-circle"></i>
                    </nz-tooltip>
                </ng-template>
                <g2-mini-progress height="46" percent="{{ todayShipmentRate}}" strokeWidth="20" target="100" color="#13C2C2" height="46"></g2-mini-progress>
                <ng-template #footer3>
                    <trend flag="{{getFlag(shipmentAddRate)}}">
                        {{ 'app.analysis.shipment.yesterday' | translate }}
                        <span class="pl-sm">{{ yesterday.numberOfShipped | number:'.0' }}</span>
                        <span class="pl-sm">({{ shipmentAddRate | percent:'1.1-2' }})</span>
                    </trend>
                </ng-template>
            </g2-card>
        </div>

        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
            <g2-card class="active-chart" [title]="'app.analysis.advertcost' | translate" total="{{ advertStat.total | _currency }}" contentHeight="46px" [action]="action4" [footer]="footer4">
                <ng-template #action4>
                    <nz-tooltip [nzTitle]="'app.analysis.introduce' | translate">
                        <i nz-tooltip nz-icon nzType="info-circle"></i>
                    </nz-tooltip>
                </ng-template>
                <g2-mini-area *ngIf="advertData" line borderColor="#1890FF" [height]="46" [data]="advertData" yTooltipSuffix="元"></g2-mini-area>
                <!-- <g2-mini-area *ngIf="commonStatistics" line borderColor="#1890FF" height="46" [data]="getOrderNumTrend()"></g2-mini-area> -->
                <div class="active-legend">
                    <span>00:00</span>
                    <span>{{ advertStat.t1 }}</span>
                    <span>{{ advertStat.t2 }}</span>
                </div>
                <ng-template #footer4>
                    <trend flag="{{getFlag(advertCopstAddRate)}}">
                        {{ 'app.analysis.yesterday.advertcost' | translate }}
                        <span class="pl-sm">{{ yesterday.costOfAdvert | number:'.0' }}</span>
                        <span class="pl-sm">({{ advertCopstAddRate | percent:'1.1-2' }})</span>
                    </trend>
                </ng-template>
            </g2-card>
        </div>
    </div>

</page-grid>