<nz-skeleton [nzLoading]="loading">
    <sv-container col="2" [title]="'订单信息'">
        <sv label="收货人姓名">{{ order.shippingName }}</sv>
        <sv label="收货人电话">{{ order.shippingPhoneNumber }}</sv>
        <sv label="收货人地址" col="1">{{ order.shippingProvince }} / {{ order.shippingCity }} / {{ order.shippingDistrict }}
            {{ order.shippingAddress }}</sv>
        <sv label="店铺">
            {{ order.store }}
        </sv>
        <sv label="订单类型">
            {{ order.orderTypeString }}
        </sv>
        <sv label="订单来源">
            <img class="pl-sm source-img" height="16" alt="order.orderSourceString" src="{{getSourcePicture(order.orderSource)}}" />
            <span class="pl-sm">{{order.orderSourceString}}</span>
        </sv>
        <sv label="订单状态">
            <nz-tag class="ml-sm" [nzColor]="getStatusColor(order.orderStatus)">{{order.orderStatusString}}</nz-tag>
        </sv>
        <sv label="物流状态">
            <nz-tag class="ml-sm" [nzColor]="getShippingColor(order.shippingStatus)">{{order.shippingStatusString}}</nz-tag>
        </sv>
        <sv label="付款状态">
            <nz-tag class="ml-sm" [nzColor]="getPaymentColor(order)">{{order.paymentStatusString}}</nz-tag>
        </sv>
        <sv label="物流信息" *ngIf="shipment.logisticsName">{{ shipment.logisticsName }} {{ shipment.logisticsNumber }}</sv>
        <sv label="下单时间">{{ order.creationTime | _date }}</sv>
        <sv label="支付时间" *ngIf="order.paidTime">{{ order.paidTime | _date }}</sv>
        <sv label="发货时间" *ngIf="shipment.creationTime">{{ shipment.creationTime | _date }}</sv>
        <sv label="完成时间" *ngIf="order.receivedTime">{{ order.receivedTime | _date }}</sv>
        <sv label="买家备注" *ngIf="order.customerComment" col="1">{{ order.customerComment }}</sv>
        <sv label="管理员备注" *ngIf="order.adminComment" col="1">{{ order.adminComment }}</sv>
    </sv-container>
    <nz-table [nzData]="order.items" [nzShowPagination]="false" [nzFooter]="footer" nzSize="small" class="d-block pt-sm pb-md mt-sm">
        <thead>
            <tr>
                <th>商品</th>
                <th>规格</th>
                <th>商品价格</th>
                <th>优惠金额</th>
                <th>商品数量</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of order.items">
                <td>
                    <img src="{{g.pictureUrl}}" width="100%" />
                    <ellipsis length="10" tooltip>{{ g.productName }}</ellipsis>
                </td>
                <td [innerHTML]="toHTML(g.attributeDesciption)"></td>
                <td>{{ g.price | _currency }}</td>
                <td>{{ g.discountAmount | _currency }}</td>
                <td>{{ g.quantity }}</td>
            </tr>
        </tbody>
        <ng-template #footer>
            <div class="text-right">
                <p>
                    商品总金额：{{ order.subtotalAmount | _currency }}
                </p>
                <p>
                    优惠：{{ order.discountAmount | _currency }}
                </p>
                <p>
                    佣金：
                    {{ order.rewardAmount | _currency }}
                </p>
                <p>
                    运费：
                    {{ order.shippingAmount | _currency }}
                </p>
                订单支付金额：
                <strong class="text-error">{{ order.totalAmount | _currency }}</strong>
            </div>
        </ng-template>
    </nz-table>
</nz-skeleton>
<!-- <div class="drawer-footer" *ngIf="order.orderStatus !== 'CANCELED'">
    <button nz-button (click)="close()">关闭</button>
    <ng-container *ngIf="order.status === 'WAIT_BUYER_PAY'">
        <nz-popconfirm nzTitle="确定吗？" (nzOnConfirm)="status('WAIT_SELLER_STOCK_OUT')">
            <button nz-popconfirm nz-button nzType="danger">取消订单</button>
        </nz-popconfirm>
        <nz-popconfirm nzTitle="确定吗？" (nzOnConfirm)="status('WAIT_SELLER_STOCK_OUT')">
            <button nz-popconfirm nz-button nzType="danger" class="pl-sm">设置为已支付</button>
        </nz-popconfirm>
    </ng-container>
    <nz-popconfirm *ngIf="order.status === 'WAIT_SELLER_STOCK_OUT'" nzTitle="确定吗？" (nzOnConfirm)="status('WAIT_GOODS_RECEIVE_CONFIRM')">
        <button nz-popconfirm nz-button nzType="danger">设置为已出库</button>
    </nz-popconfirm>
    <nz-popconfirm *ngIf="order.status === 'WAIT_GOODS_RECEIVE_CONFIRM'" nzTitle="确定吗？" (nzOnConfirm)="status('FINISHED')">
        <button nz-popconfirm nz-button nzType="danger">设置为已收货</button>
    </nz-popconfirm>
</div> -->