<page-header-wrapper [title]="'添加商品'">
    <form nz-form #f="ngForm" (ngSubmit)="save()" class="sf__no-error">
        <nz-card nzTitle="基本信息">
            <div se-container>
                <se label="商品名" required error="必填项">
                    <input nz-input [(ngModel)]="product.name" name="name" required maxlength="50">
                </se>
                <se label="分类" required error="必填项">
                    <nz-select [(ngModel)]="product.categories" [compareWith]="compareFn" name="categories"
                               nzMode="multiple" required>
                        <nz-option [nzLabel]="'请选择分类'" [nzValue]=""></nz-option>
                        <nz-option *ngFor="let category of categories" [nzLabel]="category.name"
                                   [nzValue]="category"></nz-option>
                    </nz-select>
                </se>
                <se label="sku">
                    <input nz-input type="text" [(ngModel)]="product.sku" (ngModelChange)="createSku()" name="sku" maxlength="50">
                </se>
                <se label="第三方sku">
                    <input nz-input type="text" [(ngModel)]="product.thirdPartySku" name="thirdPartySku" maxlength="30">
                </se>
                <se label="售价" required error="必填项">
                    <input nz-input type="number" [(ngModel)]="product.price" name="price" maxlength="50" required>
                </se>
                <se label="货特成本/进货价" required error="必填项">
                    <input nz-input type="number" [(ngModel)]="product.goodCost" name="goodCost" maxlength="30"
                           required>
                </se>
                <se label="库存数量" required error="必填项">
                    <input nz-input type="number" [(ngModel)]="product.stockQuantity" name="stockQuantity"
                           maxlength="50" required>
                </se>
                <se label="低库存通知">
                    <input nz-input type="number" [(ngModel)]="product.notifyQuantityBelow"
                           name="notifyQuantityBelow"
                           maxlength="30">
                </se>
                <se label="短描述/推荐语" required error="必填项" style="width:100%">
                    <input nz-input type="text" [(ngModel)]="product.shortDescription" name="shortDescription"
                           maxlength="100"
                           placeholder="" required>
                </se>
                <se label="长描述(Html)" required error="必填项" style="width:100%">
                    <editor [(ngModel)]="product.fullDescription" (onSelectionChange)="EditorEvent($event)" name="fullDescription" sourceCode="true"
                            required></editor>
                </se>
            </div>
        </nz-card>

        <nz-card nzTitle="商品图片">
            <div se-container>
                <app-avatars [fileList]="product.pictures" (files)="getProductImages($event)"></app-avatars>
            </div>
        </nz-card>

        <nz-card nzTitle="参数">
            <div se-container>
                <se label="长">
                    <input [(ngModel)]="product.length" name="length" nz-input type="number" maxlength="50">
                </se>
                <se label="宽">
                    <input [(ngModel)]="product.width" name="width" nz-input type="number" maxlength="50">
                </se>
                <se label="高">
                    <input [(ngModel)]="product.height" name="height" nz-input type="number" maxlength="50">
                </se>
                <se label="重量（发货毛重）">
                    <input [(ngModel)]="product.weight" name="weight" nz-input type="number" maxlength="50">
                </se>
            </div>
        </nz-card>
        <nz-card nzTitle="属性规格">
            <app-goods-sku-attr
                    *ngFor="let item of product.attributes;let i = index"
                    [index]="i"
                    (attributeChange)="attributeChange($event,i)"
                    [attributes]="attributes" [attribute]="item">
            </app-goods-sku-attr>
            <div se-container style="margin-top: 15px">
                <se>
                    <button type="button" nz-button nzType="dashed"  (click)="addAttribute()"><i nz-icon type="plus"></i> 添加规格项目</button>
                </se>
            </div>
        </nz-card>

        <nz-card nzTitle="规格明细">
            <div se-container>
                <nz-table *ngIf="product.attributeCombinations.length > 0" [nzShowPagination]="false" nzSize="small">
                    <thead>
                    <tr>
                        <th *ngFor="let attribute of product.attributeCombinations[0].attributes">{{attribute.name}}</th>
                        <th>库存</th>
                        <th>价格</th>
                        <th>成本</th>
                        <th *ngIf="product.sku">SKU</th>
                        <th>第三方SKU</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let combination of product.attributeCombinations;let i = index;">
                        <td *ngFor="let attribute of combination.attributes">{{attribute.values[0].name}}</td>
                        <td>
                            <nz-input-number [(ngModel)]="combination.stockQuantity" [name]="'combination.stockQuantity_' + i"
                                             nzMin="0" required></nz-input-number>
                        </td>
                        <td>
                            <nz-input-number [(ngModel)]="combination.overriddenPrice"
                                             [name]="'combination.overriddenPrice_' + i" nzMin="0.01"></nz-input-number>
                        </td>
                        <td>
                            <nz-input-number [(ngModel)]="combination.overriddenGoodCost"
                                             [name]="'combination.overriddenGoodCost_' + i" nzMin="0.01"></nz-input-number>
                        </td>
                        <td *ngIf="product.sku">
                            <nz-input-number [(ngModel)]="combination.sku" [name]="'combination.sku_' + i" nzMin="0"
                                             [required]="product.sku"></nz-input-number>
                        </td>
                        <td>
                            <input nz-input [(ngModel)]="combination.thirdPartySku" [name]="'combination.thirdPartySku_' + i" maxlength="50">
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>

        <footer-toolbar>
            <button type="submit" nz-button nzType="primary"
                    [disabled]="f.invalid">{{product.id === 0 ? '添加' : '更新'}}</button>
            <button type="button" nz-button (click)="cancel()">返回</button>
        </footer-toolbar>
    </form>
</page-header-wrapper>
