<p>根据订单号导入记录，如果单号已经存在，则会跳过。导入需要大量的内存资源。不建议一次导入超过500 - 1000条数据。如果您有更多的数据，最好将它们拆分为多个文件并分别导入.</p>
<form>
    <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired>快递</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
            <nz-select [(ngModel)]="tenantLogisticsId" name="tenantLogisticsId" nzAllowClear nzPlaceHolder="请选择快递" style="width: 80%; margin-right:8px;" required>
                <nz-option *ngFor="let item of logistics" [nzLabel]="item.text" [nzValue]="item.value"></nz-option>
            </nz-select>
            <!--<nz-form-explain *ngIf="validateForm.get('note').dirty && validateForm.get('note').errors">Please input your username!</nz-form-explain>-->
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired>文件</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20">
            <!--<nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                <button nz-button><i nz-icon type="upload"></i><span>请选择文件</span></button>
            </nz-upload>-->
            <nz-upload [nzFileList]="fileList" [nzLimit]="1" [nzMultiple]="false" (nzChange)="changeUploadFile($event)" [nzBeforeUpload]="beforeUpload">
                <button nz-button><i nz-icon type="upload"></i><span>请选择文件</span></button>
            </nz-upload>
            <!--<nz-form-explain *ngIf="validateForm.get('note').dirty && validateForm.get('note').errors">Please input your username!</nz-form-explain>-->
        </nz-form-control>
    </nz-form-item>
</form>
<div class="drawer-footer">
    <button nz-button (click)="close()">取消</button>
    <button nz-button nzType="primary" (click)="import()" [disabled]="fileList.length === 0 || !tenantLogisticsId">
        导入Excel
    </button>
</div>