<page-header-wrapper [title]="'查询发货记录'">
    <nz-card [nzBordered]="false" class>
        <button nz-button [nzType]="'primary'">
            <i nz-icon type="plus"></i>
            <span>新建</span>
        </button>
        <button nz-button *ngIf="numberOfChecked > 0" (click)="remove()" [nzType]="'primary'">
            <i nz-icon type="plus"></i>
            <span>删除</span>
        </button>
        <button style="float: right;" nz-button (click)="showImport()" [nzType]="'default'">
            <i nz-icon type="upload"></i>
            <span>导入订单</span>
        </button>
        <div class="my-md">
            <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
                <ng-template #message>
                    已选择
                    <strong class="text-primary">{{numberOfChecked}}</strong>
                    项
                </ng-template>
            </nz-alert>
        </div>
        <!--<st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)">
          <ng-template st-row="status" let-i>
            <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
          </ng-template>
        </st>-->

        <nz-table #nzTable [nzData]="data">
            <thead>
                <tr>
                    <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
                    <th nzCustomFilter>
                        订单号
                        <!--<nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
                                 #dropdown>
                        <i nz-icon nzType="search" class="ant-table-filter-icon"
                           [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                        <div class="search-box">
                            <input type="text" nz-input placeholder="搜索订单号" [(ngModel)]="">
                            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                                Search
                            </button>
                            <button nz-button nzSize="small" (click)="reset()">Reset</button>
                        </div>
                    </nz-dropdown>-->
                    </th>
                    <th>
                        运单号
                        <!--<nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter
                                 #dropdown>
                        <i nz-icon nzType="search" class="ant-table-filter-icon"
                           [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                        <div class="search-box">
                            <input type="text" nz-input placeholder="搜索订单号" [(ngModel)]="searchValue">
                            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                                Search
                            </button>
                            <button nz-button nzSize="small" (click)="reset()">Reset</button>
                        </div>
                    </nz-dropdown>-->
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        服务商
                    </th>
                    <th nzShowSort nzSortKey="deliveryOn">
                        配送日期
                    </th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="nzTable.data">
                    <tr>
                        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
                        <td>{{data.orderNumber}}</td>
                        <td>{{data.logisticsNumber}}</td>
                        <td>{{data.statusString}}</td>
                        <td>{{data.logisticsName}}</td>
                        <td>{{data.deliveryOn | _date}}</td>
                        <td>
                            <a [routerLink]="'/shipment/edit/' + data.id">编辑</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>删除</a>
                        </td>
                    </tr>
                    <!--<tr [nzExpand]="mapOfExpandData[data.id]">
                    <td></td>
                    <td></td>
                    <td colspan="7">
                        <div *ngFor="let item of data.items">
                            {{item.productName}}
                        </div>
                    </td>
                </tr>-->
                </ng-template>
            </tbody>
        </nz-table>

    </nz-card>
    <ng-template #modalContent>
        <nz-form-item>
            <nz-form-label nzFor="no">描述</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no">
            </nz-form-control>
        </nz-form-item>
    </ng-template>
</page-header-wrapper>