<page-header-wrapper [title]="'查询发货单'">
    <nz-card [nzBordered]="false" class>
        <button nz-button [nzType]="'primary'">
            <i nz-icon type="plus"></i>
            <span>新建</span>
        </button>
        <button nz-button *ngIf="numberOfChecked > 0" (click)="remove()" [nzType]="'primary'">
            <i nz-icon type="plus"></i>
            <span>删除</span>
        </button>
        <div class="my-md">
            <nz-alert *ngIf="selectedTags.length > 0" [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
                <ng-template #message>
                    已选择
                    <nz-tag *ngFor="let item of selectedTags" nzMode="checkable" [nzChecked]="true">{{item.text}}</nz-tag>
                    <a (click)="clearCheck()" class="ml-lg">清空</a>
                </ng-template>
            </nz-alert>
        </div>
        <!--<st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)">
          <ng-template st-row="status" let-i>
            <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
          </ng-template>
        </st>-->

        <nz-table #nzTable [nzData]="data">
            <tbody>
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
                <tr *ngIf="data.data.length > 0">
                    <th style="width: 2.5em">{{data.letter}}</th>
                    <td>
                        <nz-tag *ngFor="let item of data.data" nzMode="checkable" [nzChecked]="selectedTags.indexOf(item) > -1" (nzCheckedChange)="handleChange($event, item)">{{item.text}}</nz-tag>
                    </td>
                </tr>
            </ng-template>
            </tbody>
        </nz-table>

    </nz-card>
</page-header-wrapper>
