<page-header-wrapper [title]="'编辑分类'">
  <form nz-form #f="ngForm" (ngSubmit)="update(f)" class="sf__no-error">
    <nz-card nzTitle="店铺基本信息">
      <div se-container>
        <se label="分类名称" required error="必填项">
          <input nz-input [(ngModel)]="category.name" name="name" required maxlength="50">
        </se>
        <se label="上级目录" error="必填项">
          <nz-select [(ngModel)]="category.parentCategoryId" name="parentCategoryId" required>
            <nz-option [nzLabel]="'顶级分类'" [nzValue]="0"></nz-option>
            <nz-option *ngFor="let item of categories" [nzLabel]="item.text" [nzValue]="item.value"></nz-option>
          </nz-select>
        </se>
        <se label="排序id">
          <input nz-input type="number" [(ngModel)]="category.displayOrder" name="displayOrder" maxlength="100"
                 placeholder="">
        </se>
        <se label="">
          <label nz-checkbox [(ngModel)]="category.isActive" name="isActive">是否启用</label>
        </se>
        <se label="">
          <app-avatar (avatarObj)="avatarObj($event)"></app-avatar>
        </se>
      </div>
    </nz-card>
    <footer-toolbar>
      <button type="submit" nz-button nzType="primary" [disabled]="f.invalid">添加</button>
      <button type="button" nz-button (click)="cancel()">返回</button>
    </footer-toolbar>
  </form>
</page-header-wrapper>
